
.button {
    -fx-fill: rgb(230, 0, 0);
    -fx-border-color: black;
    -fx-border-radius: 300%;
}
.button:pressed {
    -fx-fill: rgb(160, 0, 0);
}

.saveButton {
    -fx-border-width: 0;
    -fx-background-color: rgb(0,0,0, 0);
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 100%;
    -fx-background-image: url("save_button.png");
}

.saveButton:pressed {
    -fx-background-color: rgb(0,0,0);
}

.node {
    -fx-fill: rgba(0,0,0,0);
    -fx-stroke: red;
    -fx-stroke-width: 5;
}

.node:selected {
    -fx-fill: black;
    -fx-stroke: red;
    -fx-stroke-width: 5;
}

.mapPane {
    -fx-hgap: 20px;
    -fx-background-color:  #e0e0e0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.populationText {
  -fx-font-size: 20;
  -fx-background-color: #00bfff;
}
